# === CONFIGURATION GÉNÉRALE ===
FLASK_ENV=development
FLASK_APP=core/app.py
SECRET_KEY= <secret_key>

# === BASE DE DONNÉES ===
DB_HOST=localhost
DB_PORT=3306
DB_NAME=<db_name>
DB_USER=<db_user>
DB_PASSWORD=<db_password>

# === APPLICATION ===
APP_NAME=FCC_001 - Atención al Cliente
APP_VERSION=2.0.0

# === FONCTIONNALITÉS OPTIONNELLES ===
WEASYPRINT_AVAILABLE=True
LOG_LEVEL=DEBUG

# === PAGINATION ===
POSTS_PER_PAGE=50

# === SÉCURITÉ ===
SESSION_COOKIE_SECURE=false

# === INTERNATIONALISATION ===
BABEL_DEFAULT_LOCALE=es

# === Bitrix24 ===
BITRIX24_API=<bitrix24_api>

# === RADIUS ===
RADIUS_ENABLED=true
RADIUS_BASE_URL=<radius_base_url>
RADIUS_API_USER=<radius_api_user>
RADIUS_API_PASS=<radius_api_pass>
RADIUS_CACHE_TTL_SECONDS=300

# === ODOO ===

ODOO_API_URL=<odoo_api_url>
ODOO_API_USER=<odoo_api_user>
ODOO_API_PASSWORD=<odoo_api_password>
ODOO_API_KEY=<odoo_api_key>

# cle API aistudio.google.com

GEMINI_API_KEY=<gemini_api_key>
GEMINI_MODEL=gemini-3.6-flash